#chat {
  height: 400px;
  overflow-y: auto;
  background: #77c6e8;
  line-height: 28px;
  color: #171010;
}

#chat-message {
  font-size: 18px;
}

#chat-message-row {
  margin-top: 40px;
}

#chat-name {
  font-size: 18px;
}

#user-list {
  background: #5ae182;
  color: #ffffff;
  height: 400px;
  overflow-y: auto;
}

#user-list ul {
  list-style-type: none;
  margin-left: 0;
}

#user-list ul li {

}
